[submodule "back-end/common-b-tools"]
	path = back-end/common-b-tools
	url = git@github.com:it-mengge/common-b-tools.git
[submodule "back-end/service-b-msm"]
	path = back-end/service-b-msm
	url = git@github.com:it-mengge/service-b-msm.git
[submodule "back-end/service-b-usercenter"]
	path = back-end/service-b-usercenter
	url = git@github.com:it-mengge/service-b-usercenter.git
[submodule "back-end/service-b-oss"]
	path = back-end/service-b-oss
	url = git@github.com:itxiaomengge/service-b-oss.git
[submodule "back-end/service-b-blogcenter"]
	path = back-end/service-b-blogcenter
	url = https://github.com/itxiaomengge/service-b-blogcenter.git
[submodule "front-end/blog-micro-vue"]
	path = front-end/blog-micro-vue
	url = git@github.com:itxiaomengge/blog-micro-vue.git
